:root{ 
  --main: #F05A28;   
  --bg-green: #086512; 
  --bg-green2: #6fd626; 
  --bg-blue: #0693e3; 
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1441px;
  }
}
body{ 
  font-family: MaphaoThin;
  background-color: #eaeaea;
}    

@font-face{
  font-family: MaphaoThin;
  src: url(MaphaoThin.ttf);
  font-style: normal;
  font-variant:initial;
}   
.img-cover1{
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 350px;
  display: block;
  margin: auto;
}
.menu-l{
  list-style: none;
  padding-left: 0px;
  margin-top: 33px;
}
.menu-l li{
  background: url(../images/p1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 75px;
  height: 75px;
  margin-bottom: 30px; 
  text-align: center;
  position: relative;
  z-index: 10;
}
.menu-l li a{
  font-size: 26px;
  color: #b87245;
  font-family: MaphaoThin;
  width: 100%; 
  display: block; 
  padding-top: 18px;
  opacity: .7;
  transition: .33s all ease-out;  
}
.menu-l li.active a{ 
  color: #000; 
  opacity: 1; 
}

.menu-l li:hover a{ 
  color: #000; 
  opacity: 1; 
}
.menu-l li::after{
  content: "";
  position: absolute;
  background: url(../images/ch.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 50px; 
  top: 0;
  margin-top: -33px;
  left: 50px;
  height: 36px;
  width: 10px; 
  z-index: 8;
}  
.menu-l li::before{
  content: "";
  position: absolute;
  background: url(../images/ch.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 50px; 
  top: 0;
  margin-top: -33px;
  right: 50px;
  height: 38px;
  width: 10px; 
  z-index: 8;
}  
.img-teacher{
  display: block;
  margin: auto;
  width: 100%;
}
.teacherx{
  color: #000;
  font-size: 22px;
}
.frame{  
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
} 
.frame img{  
  width: 90%;
  height: 250px;
  object-fit: cover;
  position: relative;
  z-index: 10;
  display: block;
  margin: auto;
} 
.frame img:nth-child(2){  
  position: absolute;
  z-index: 4;
  top: 90px;
  height: 150px;
  left: auto;
  right: auto;
  display: block;
  margin: auto;
  overflow: hidden;
}
.icx img{
  width: 50px;
  object-fit: cover;
  border-radius: 100%;
  height: 50px;
  margin-right: 10px;
}


/*

transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }      
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }    
}    
@media only screen and (width: 1024px) { /* PC */ 
}   
 


.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 20px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("../images/car.gif") no-repeat center center;
  width: 230px;
  height: 105px;
  background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 68px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

/*************footer End*****************/

.rainbow-text{
	position: relative;
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
  overflow: hidden; 
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 22px 4px 6px;
  margin: -2px -4px -6px;
  font-size: 55px;
}
.rainbow-text::before{
	content: "";
	position: absolute;
	top:0;right:0;bottom:0;left:-100%;
	background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);
	mix-blend-mode: screen;
	pointer-events: none;
  animation: move 10s linear infinite;
}


@keyframes move{
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}

@supports not (mix-blend-mode: multiply) {
	.rainbow-text{
	-webkit-text-fill-color: transparent;
	background-clip: text !important;
	background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
    text-shadow: none;
	}
	.rainbow-text::before{ content: none; }
}
 